EquipMainUi/bin/x64/Debug/Setting/AlarmSolutions/
EquipMainUi/bin/x64/Debug/Setting/AutoBackup/
.vs/
EquipView/obj/
EquipSimulator/obj/
EquipMainUi/obj/
EquipMainUi/bin/x64/Debug/EquipView.dll
EquipSimulator/bin/x64/Debug/EquipView.dll
EquipMainUi/bin/x64/Debug/Setting/UsingTimeInfo.ini
*.bmp
Dit.Rnd.Framework.Grabber.Basler/obj/
Dit.Rnd.Framework.Grabber/obj/
/x64/Debug/M_WaferPreAligner_Debug.dll
/x64/Debug/M_WaferPreAligner_Debug.lib
*.tlog
*.pdb
obj/
debug/
/M_WaferPreAligner/M_WaferPreAligner.aps
/M_WaferPreAligner/M_WaferPreAligner.vcxproj.user
*.manifest
*.suo
*.user